app/binaries/fe3d.pdb
app/projects/*/

dev/Systems/AssetSystem/Temp/
dev/Systems/ControlSystem/Temp/
dev/Systems/CoreSystem/Temp/
dev/Systems/EditorSystem/Temp/
dev/Systems/EntitySystem/Temp/
dev/Systems/GuiSystem/Temp/
dev/Systems/MathSystem/Temp/
dev/Systems/NetworkingSystem/Temp/
dev/Systems/PhysicsSystem/Temp/
dev/Systems/RenderingSystem/Temp/
dev/Systems/ScriptingSystem/Temp/
dev/Systems/SoundSystem/Temp/
dev/Systems/SupportSystem/Temp/

dev/Systems/AssetSystem.lib
dev/Systems/ControlSystem.lib
dev/Systems/CoreSystem.lib
dev/Systems/EditorSystem.lib
dev/Systems/EntitySystem.lib
dev/Systems/GuiSystem.lib
dev/Systems/MathSystem.lib
dev/Systems/NetworkingSystem.lib
dev/Systems/PhysicsSystem.lib
dev/Systems/RenderingSystem.lib
dev/Systems/ScriptingSystem.lib
dev/Systems/SoundSystem.lib
dev/Systems/SupportSystem.lib
dev/Systems/AssetSystem.pdb
dev/Systems/ControlSystem.pdb
dev/Systems/CoreSystem.pdb
dev/Systems/EditorSystem.pdb
dev/Systems/EntitySystem.pdb
dev/Systems/GuiSystem.pdb
dev/Systems/MathSystem.pdb
dev/Systems/NetworkingSystem.pdb
dev/Systems/PhysicsSystem.pdb
dev/Systems/RenderingSystem.pdb
dev/Systems/ScriptingSystem.pdb
dev/Systems/SoundSystem.pdb
dev/Systems/SupportSystem.pdb

dev/.vs/FabiEngine3D/project-colors.json
dev/.vs/FabiEngine3D/v17/ipch/
dev/.vs/FabiEngine3D/v17/Browse.VC.db
dev/.vs/FabiEngine3D/v17/Solution.VC.db
dev/.vs/FabiEngine3D/v17/fileList.bin
dev/.vs/FabiEngine3D/v17/Browse.VC.db-shm
dev/.vs/FabiEngine3D/v17/Browse.VC.db-wal
dev/.vs/FabiEngine3D/v17/Browse.VC.opendb
dev/.vs/FabiEngine3D/v17/Solution.VC.db-shm
dev/.vs/FabiEngine3D/v17/Solution.VC.db-wal
dev/.vs/FabiEngine3D/v17/HierarchyCache.v1.txt
