dev/.vs/
dev/UpgradeLog.htm
dev/Systems/AssetManagementSystem/Temp/
dev/Systems/AudioSystem/Temp/
dev/Systems/CoreSystem/Temp/
dev/Systems/EditorSystem/Temp/
dev/Systems/EngineControllerSystem/Temp/
dev/Systems/EntitySystem/Temp/
dev/Systems/GuiSystem/Temp/
dev/Systems/MathSystem/Temp/
dev/Systems/MiscellaneousSystem/Temp/
dev/Systems/NetworkingSystem/Temp/
dev/Systems/PhysicsSystem/Temp/
dev/Systems/RenderingSystem/Temp/
dev/Systems/ScriptingSystem/Temp/
dev/Systems/AssetManagementSystem.lib
dev/Systems/AudioSystem.lib
dev/Systems/CoreSystem.lib
dev/Systems/EditorSystem.lib
dev/Systems/EngineControllerSystem.lib
dev/Systems/EntitySystem.lib
dev/Systems/GuiSystem.lib
dev/Systems/MathSystem.lib
dev/Systems/MiscellaneousSystem.lib
dev/Systems/NetworkingSystem.lib
dev/Systems/PhysicsSystem.lib
dev/Systems/RenderingSystem.lib
dev/Systems/ScriptingSystem.lib
dev/Systems/AssetManagementSystem.pdb
dev/Systems/AudioSystem.pdb
dev/Systems/CoreSystem.pdb
dev/Systems/EditorSystem.pdb
dev/Systems/EngineControllerSystem.pdb
dev/Systems/EntitySystem.pdb
dev/Systems/GuiSystem.pdb
dev/Systems/MathSystem.pdb
dev/Systems/MiscellaneousSystem.pdb
dev/Systems/NetworkingSystem.pdb
dev/Systems/PhysicsSystem.pdb
dev/Systems/RenderingSystem.pdb
dev/Systems/ScriptingSystem.pdb
app/binaries/FabiEngine3D.pdb
app/binaries/FabiEngine3D.iobj
app/binaries/FabiEngine3D.ipdb
app/projects/*/